@font-face {
  font-family: 'Recipe Korea';
  src: url(./assets/fonts/Recipekorea.ttf) format('truetype');
}

@font-face {
  font-family: 'JS Dongkang';
  src: url(./assets/fonts/JSDonkang.ttf) format('truetype');
}

@font-face {
  font-family: 'Gmarket';
  src: url(./assets/fonts/GmarketSans.ttf) format('truetype');
}

@font-face {
  font-family: 'Gukdae';
  src: url(./assets/fonts/Gukdae.otf) format('truetype');
}
